---
applications:
- name: app_name # TODO change
  memory: 256M
  instances: 1
  buildpack: nodejs_buildpack
  host: host_name # TODO change
  services:
    - a9z-ph-mongodb
  env:
    MONGODB_SERVICE_NAME: "a9s-ph-mongodb"
    MONGODB_SERVICE: "a9s-mongodb"
